<template>
  <div id="app">
    <router-view/>

  </div>
</template>

<script>
// import enquireScreen from './utils/device'
// import Personas from '@/pages/list/Personas'


export default {
  name: 'App',
  components:{
    // Personas
  }
}
</script>
